--
-- PostgreSQL database dump
--

\restrict 6aFO7qm8U5lmfKPYnSlTKkkQjwBHXZ1DwGt5vZnlXAnPoKBYLg1NduV7Jr8VMzT

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: auto_calculate_bmi_profile(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.auto_calculate_bmi_profile() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.bmi := calculate_bmi(NEW.height, NEW.weight);

    RETURN NEW;

END;

$$;


--
-- Name: auto_calculate_bmi_progress(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.auto_calculate_bmi_progress() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    user_height NUMERIC;

BEGIN

    -- Get user's height from profile

    SELECT height INTO user_height FROM profiles WHERE id = NEW.user_id;

    

    -- Calculate BMI

    NEW.bmi := calculate_bmi(user_height, NEW.weight_kg);

    RETURN NEW;

END;

$$;


--
-- Name: auto_create_squad_activities(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.auto_create_squad_activities() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Copy global defaults to new squad

    PERFORM create_squad_default_activities(NEW.id);

    RETURN NEW;

END;

$$;


--
-- Name: calculate_all_user_streaks(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_all_user_streaks() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

    v_count INTEGER := 0;

    v_user RECORD;

BEGIN

    FOR v_user IN 

        SELECT DISTINCT p.id 

        FROM profiles p

        JOIN group_members gm ON gm.user_id = p.id

        WHERE gm.status = 'approved'

        AND (p.last_streak_calculation IS NULL 

             OR p.last_streak_calculation < CURRENT_DATE)

    LOOP

        PERFORM calculate_user_streaks(v_user.id);

        v_count := v_count + 1;

    END LOOP;

    

    RETURN v_count;

END;

$$;


--
-- Name: calculate_bmi(numeric, numeric); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_bmi(height_cm numeric, weight_kg numeric) RETURNS numeric
    LANGUAGE plpgsql IMMUTABLE
    AS $$

BEGIN

    IF height_cm IS NULL OR weight_kg IS NULL OR height_cm = 0 THEN

        RETURN NULL;

    END IF;

    -- BMI = weight (kg) / (height (m))^2

    RETURN ROUND((weight_kg / POWER(height_cm / 100.0, 2))::NUMERIC, 2);

END;

$$;


--
-- Name: calculate_daily_points(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_daily_points() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    new_points INTEGER := 0;

    goal_points INTEGER := 0;

    custom_key TEXT;

    custom_val BOOLEAN;

BEGIN

    -- 1. Calculate Core Habits Points

    IF NEW.wod_done THEN new_points := new_points + 20; END IF;

    IF NEW.steps_done THEN new_points := new_points + 10; END IF;

    IF NEW.clean_eating_done THEN new_points := new_points + 10; END IF;

    IF NEW.sleep_done THEN new_points := new_points + 10; END IF;

    IF NEW.water_done THEN new_points := new_points + 10; END IF;



    -- 2. Calculate Custom Goals Points (JSONB parsing)

    -- Iterate through keys in custom_logs. If value is true, add 5 points.

    FOR custom_key, custom_val IN SELECT * FROM jsonb_each(NEW.custom_logs)

    LOOP

        IF custom_val = TRUE THEN

            new_points := new_points + 5;

        END IF;

    END LOOP;



    -- 3. Update the daily_logs row with the calculated value

    NEW.daily_points := new_points;



    -- 4. Update the Profile's Total Points

    -- We subtract the OLD daily_points (if update) and add the NEW daily_points

    -- This ensures we don't double count.

    

    -- Recalculate total for user (safer than incrementing to avoid drift)

    -- But for performance in this trigger, delta is standard.

    -- Let's stick to simple delta update on Profiles.

    

    UPDATE profiles 

    SET total_points = total_points - COALESCE(OLD.daily_points, 0) + NEW.daily_points

    WHERE id = NEW.user_id;



    RETURN NEW;

END;

$$;


--
-- Name: calculate_total_points(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_total_points(p_user_id uuid) RETURNS integer
    LANGUAGE sql STABLE
    AS $$

  SELECT 

    -- Daily points from all check-ins

    COALESCE((

      SELECT SUM(daily_points)

      FROM daily_logs

      WHERE user_id = p_user_id

    ), 0) +

    -- Streak bonus points

    COALESCE((

      SELECT streak_bonus_points

      FROM profiles

      WHERE id = p_user_id

    ), 0) +

    -- Admin weekly points

    COALESCE((

      SELECT SUM(consistency_points + effort_points + community_points)

      FROM admin_weekly_points

      WHERE user_id = p_user_id

    ), 0)

$$;


--
-- Name: calculate_user_streaks(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_user_streaks(p_user_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

    v_checkin_streak INTEGER := 0;

    v_workout_streak INTEGER := 0;

    v_clean_streak INTEGER := 0;

    v_prev_date DATE;

    v_current_date DATE;

    v_log RECORD;

    v_bonus_total INTEGER := 0;

    v_milestone RECORD;

BEGIN

    -- Get current date

    v_current_date := CURRENT_DATE;

    v_prev_date := v_current_date;

    

    -- Calculate check-in streak (consecutive days with any log entry)

    FOR v_log IN 

        SELECT date, daily_points, negative_points,

               EXISTS(SELECT 1 FROM daily_logs d2 

                      WHERE d2.user_id = p_user_id 

                      AND d2.date = daily_logs.date 

                      AND d2.custom_logs ? 'activity_wod' 

                      AND (d2.custom_logs->>'activity_wod')::boolean = true) as wod_done

        FROM daily_logs 

        WHERE user_id = p_user_id 

        ORDER BY date DESC

    LOOP

        -- Check if this date is consecutive

        IF v_log.date = v_prev_date OR v_log.date = v_prev_date - 1 THEN

            v_checkin_streak := v_checkin_streak + 1;

            

            -- Count workout streak

            IF v_log.wod_done THEN

                v_workout_streak := v_workout_streak + 1;

            ELSE

                v_workout_streak := 0; -- Reset if missed

            END IF;

            

            -- Count clean eating streak (no negative points)

            -- FIX: negative_points is stored as negative integers (-5, -10, -15)

            -- Check if it's 0 or NULL (no slip-ups)

            IF COALESCE(v_log.negative_points, 0) = 0 THEN

                v_clean_streak := v_clean_streak + 1;

            ELSE

                v_clean_streak := 0; -- Reset if had slip-ups

            END IF;

            

            v_prev_date := v_log.date;

        ELSE

            EXIT; -- Gap in dates, streak broken

        END IF;

    END LOOP;

    

    -- Update profiles with current streaks

    UPDATE profiles SET 

        current_checkin_streak = v_checkin_streak,

        current_workout_streak = v_workout_streak,

        current_clean_streak = v_clean_streak,

        longest_checkin_streak = GREATEST(longest_checkin_streak, v_checkin_streak),

        longest_workout_streak = GREATEST(longest_workout_streak, v_workout_streak),

        longest_clean_streak = GREATEST(longest_clean_streak, v_clean_streak),

        last_streak_calculation = NOW()

    WHERE id = p_user_id;

    

    -- Award milestone bonuses if not already awarded

    FOR v_milestone IN 

        SELECT sm.* FROM streak_milestones sm

        WHERE NOT EXISTS (

            SELECT 1 FROM streak_bonus_log sbl 

            WHERE sbl.user_id = p_user_id AND sbl.milestone_id = sm.id

        )

        AND (

            (sm.streak_type = 'checkin' AND sm.days_required <= v_checkin_streak)

            OR (sm.streak_type = 'workout' AND sm.days_required <= v_workout_streak)

            OR (sm.streak_type = 'clean_eating' AND sm.days_required <= v_clean_streak)

        )

    LOOP

        -- Insert bonus log

        INSERT INTO streak_bonus_log (user_id, milestone_id, streak_type, days_achieved, bonus_points)

        VALUES (p_user_id, v_milestone.id, v_milestone.streak_type, v_milestone.days_required, v_milestone.bonus_points);

        

        -- Add to bonus total

        v_bonus_total := v_bonus_total + v_milestone.bonus_points;

    END LOOP;

    

    -- Update total points if bonuses were awarded

    IF v_bonus_total > 0 THEN

        UPDATE profiles SET 

            streak_bonus_points = streak_bonus_points + v_bonus_total,

            total_points = total_points + v_bonus_total

        WHERE id = p_user_id;

    END IF;

    

    RETURN jsonb_build_object(

        'checkin_streak', v_checkin_streak,

        'workout_streak', v_workout_streak,

        'clean_streak', v_clean_streak,

        'bonus_awarded', v_bonus_total

    );

END;

$$;


--
-- Name: create_squad_default_activities(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_squad_default_activities(new_squad_id uuid) RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO squad_checkin_activities (

        squad_id, activity_name, activity_type, activity_key, 

        points, enabled, display_order, icon, description

    )

    SELECT 

        new_squad_id, activity_name, activity_type, activity_key,

        points, enabled, display_order, icon, description

    FROM squad_checkin_activities

    WHERE squad_id IS NULL;

END;

$$;


--
-- Name: get_checkin_context(date); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_checkin_context(p_date date) RETURNS jsonb
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

  SELECT jsonb_build_object(

    'squad_id', gm.group_id,

    'already_submitted', EXISTS(

      SELECT 1 FROM daily_logs dl 

      WHERE dl.user_id = auth.uid() AND dl.date = p_date

    ),

    'existing_log', (

      SELECT jsonb_build_object(

        'custom_logs', dl.custom_logs,

        'junk_food', dl.junk_food,

        'processed_sugar', dl.processed_sugar,

        'alcohol_excess', dl.alcohol_excess,

        'negative_points', dl.negative_points

      )

      FROM daily_logs dl 

      WHERE dl.user_id = auth.uid() AND dl.date = p_date

    ),

    'activities', COALESCE((

      SELECT jsonb_agg(

        jsonb_build_object(

          'id', sca.id,

          'activity_name', sca.activity_name,

          'activity_type', sca.activity_type,

          'points', sca.points,

          'icon', sca.icon,

          'display_order', sca.display_order

        ) ORDER BY sca.display_order

      )

      FROM squad_checkin_activities sca 

      WHERE sca.squad_id = gm.group_id AND sca.enabled = true

    ), '[]'::jsonb),

    'goals', COALESCE((

      SELECT jsonb_agg(

        jsonb_build_object(

          'slot', uga.slot,

          'goal_templates', jsonb_build_object(

            'id', gt.id,

            'name', gt.name,

            'description', gt.description,

            'points', gt.points

          )

        ) ORDER BY uga.slot

      )

      FROM user_goal_assignments uga

      JOIN goal_templates gt ON gt.id = uga.goal_template_id

      WHERE uga.user_id = auth.uid()

    ), '[]'::jsonb)

  )

  FROM group_members gm 

  WHERE gm.user_id = auth.uid() AND gm.status = 'approved'

  LIMIT 1;

$$;


--
-- Name: get_progress_trend(uuid, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_progress_trend(p_user_id uuid, p_limit integer DEFAULT 10) RETURNS TABLE(logged_at timestamp with time zone, weight_kg numeric, bmi numeric, body_fat_percentage numeric, muscle_mass_percentage numeric, weight_change numeric, days_since_last numeric)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    SELECT 

        pl.logged_at,

        pl.weight_kg,

        pl.bmi,

        pl.body_fat_percentage,

        pl.muscle_mass_percentage,

        pl.weight_kg - LAG(pl.weight_kg) OVER (ORDER BY pl.logged_at) as weight_change,

        EXTRACT(EPOCH FROM (pl.logged_at - LAG(pl.logged_at) OVER (ORDER BY pl.logged_at))) / 86400 as days_since_last

    FROM progress_logs pl

    WHERE pl.user_id = p_user_id

    ORDER BY pl.logged_at DESC

    LIMIT p_limit;

END;

$$;


--
-- Name: get_squad_members_for_admin(date); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_squad_members_for_admin(p_week_start date) RETURNS jsonb
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

    SELECT COALESCE(jsonb_agg(

        jsonb_build_object(

            'user_id', p.id,

            'full_name', p.full_name,

            'display_name', p.display_name,

            'total_points', p.total_points,

            'weekly_points', (

                SELECT jsonb_build_object(

                    'consistency_points', awp.consistency_points,

                    'effort_points', awp.effort_points,

                    'community_points', awp.community_points,

                    'notes', awp.notes

                )

                FROM admin_weekly_points awp

                WHERE awp.user_id = p.id AND awp.week_start = p_week_start

            )

        ) ORDER BY p.full_name

    ), '[]'::jsonb)

    FROM profiles p

    JOIN group_members gm ON gm.user_id = p.id

    WHERE gm.status = 'approved'

    AND p.role != 'admin';

$$;


--
-- Name: get_week_start(date); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_week_start(p_date date DEFAULT CURRENT_DATE) RETURNS date
    LANGUAGE plpgsql IMMUTABLE
    AS $$

BEGIN

    -- Returns Monday of the week containing p_date

    RETURN p_date - EXTRACT(DOW FROM p_date)::INTEGER + 1;

END;

$$;


--
-- Name: get_wod_today(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_wod_today() RETURNS jsonb
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

  SELECT jsonb_build_object(

    'found', true,

    'date', sw.date,

    'workout', jsonb_build_object(

      'id', sw.id,

      'template_id', wt.id,

      'name', wt.name,

      'description', wt.description,

      'type', wt.type

    ),

    'exercises', COALESCE((

      SELECT jsonb_agg(

        jsonb_build_object(

          'id', we.id,

          'order_index', we.order_index,

          'exercise_name', we.exercise_name,

          'sets', we.sets,

          'reps', we.reps,

          'duration_seconds', we.duration_seconds,

          'rest_seconds', we.rest_seconds,

          'equipment', we.equipment,

          'video_url', we.video_url,

          'notes', we.notes

        ) ORDER BY we.order_index

      )

      FROM workout_exercises we

      WHERE we.template_id = wt.id

    ), '[]'::jsonb)

  )

  FROM scheduled_workout_squads sws

  JOIN scheduled_workouts sw ON sw.id = sws.workout_id

  JOIN workout_templates wt ON wt.id = sw.template_id

  JOIN group_members gm ON gm.group_id = sws.group_id

  WHERE gm.user_id = auth.uid()

    AND gm.status = 'approved'

    AND sw.date = CURRENT_DATE

  LIMIT 1;

$$;


--
-- Name: handle_new_user(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.handle_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    INSERT INTO public.profiles (

        id,

        full_name,

        role,

        status,

        total_points,

        created_at

    )

    VALUES (

        new.id,

        COALESCE(new.raw_user_meta_data->>'full_name', 'New User'),

        'participant',

        'pending',

        0,

        NOW()

    )

    ON CONFLICT (id) DO NOTHING; -- Prevent duplicate errors

    

    RETURN new;

EXCEPTION

    WHEN OTHERS THEN

        -- Log error but don't fail the auth user creation

        RAISE WARNING 'Error creating profile for user %: %', new.id, SQLERRM;

        RETURN new;

END;

$$;


--
-- Name: is_admin(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.is_admin() RETURNS boolean
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  RETURN EXISTS (

    SELECT 1 FROM profiles 

    WHERE id = auth.uid() 

    AND role = 'admin'

  );

END;

$$;


--
-- Name: prevent_role_change(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.prevent_role_change() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  IF EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role = 'admin') THEN

    RETURN NEW;

  END IF;

  IF OLD.role IS DISTINCT FROM NEW.role THEN

    RAISE EXCEPTION 'Only admins can change user roles';

  END IF;

  RETURN NEW;

END;

$$;


--
-- Name: update_total_points_from_daily_log(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_total_points_from_daily_log() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  -- Recalculate and update total_points atomically

  UPDATE profiles

  SET total_points = calculate_total_points(COALESCE(NEW.user_id, OLD.user_id))

  WHERE id = COALESCE(NEW.user_id, OLD.user_id);

  

  RETURN NEW;

END;

$$;


--
-- Name: update_total_points_from_streak(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_total_points_from_streak() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  -- Only recalculate if streak_bonus_points actually changed

  IF OLD.streak_bonus_points IS DISTINCT FROM NEW.streak_bonus_points THEN

    NEW.total_points := calculate_total_points(NEW.id);

  END IF;

  

  RETURN NEW;

END;

$$;


--
-- Name: update_total_points_on_admin_award(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_total_points_on_admin_award() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

    v_daily_total INTEGER;

    v_admin_total INTEGER;

    v_streak_bonus INTEGER;

BEGIN

    -- Get sum of daily points

    SELECT COALESCE(SUM(daily_points), 0) INTO v_daily_total

    FROM daily_logs WHERE user_id = NEW.user_id;

    

    -- Get sum of admin weekly points

    SELECT COALESCE(SUM(consistency_points + effort_points + community_points), 0) INTO v_admin_total

    FROM admin_weekly_points WHERE user_id = NEW.user_id;

    

    -- Get streak bonus

    SELECT COALESCE(streak_bonus_points, 0) INTO v_streak_bonus

    FROM profiles WHERE id = NEW.user_id;

    

    -- Update total

    UPDATE profiles 

    SET total_points = v_daily_total + v_admin_total + v_streak_bonus

    WHERE id = NEW.user_id;

    

    RETURN NEW;

END;

$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_weekly_points; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admin_weekly_points (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    week_start date NOT NULL,
    consistency_points integer DEFAULT 0,
    effort_points integer DEFAULT 0,
    community_points integer DEFAULT 0,
    notes text,
    awarded_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT admin_weekly_points_community_points_check CHECK (((community_points >= 0) AND (community_points <= 10))),
    CONSTRAINT admin_weekly_points_consistency_points_check CHECK (((consistency_points >= 0) AND (consistency_points <= 10))),
    CONSTRAINT admin_weekly_points_effort_points_check CHECK (((effort_points >= 0) AND (effort_points <= 10))),
    CONSTRAINT valid_admin_points CHECK ((((consistency_points >= 0) AND (consistency_points <= 10)) AND ((effort_points >= 0) AND (effort_points <= 10)) AND ((community_points >= 0) AND (community_points <= 10))))
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    resource_type character varying(100) NOT NULL,
    resource_id uuid,
    details jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: biometric_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.biometric_logs (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    weight_kg numeric(5,2),
    height_cm numeric(5,2),
    body_fat_percentage numeric(4,2),
    muscle_mass_percentage numeric(4,2),
    bmi numeric(4,2) GENERATED ALWAYS AS (
CASE
    WHEN (height_cm > (0)::numeric) THEN round((weight_kg / ((height_cm / (100)::numeric) * (height_cm / (100)::numeric))), 2)
    ELSE NULL::numeric
END) STORED,
    measured_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now(),
    weight_kg_encrypted text,
    body_fat_encrypted text,
    muscle_mass_encrypted text,
    height_cm_encrypted text,
    is_encrypted boolean DEFAULT false
);


--
-- Name: daily_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.daily_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    wod_done boolean DEFAULT false,
    steps_done boolean DEFAULT false,
    water_done boolean DEFAULT false,
    sleep_done boolean DEFAULT false,
    clean_eating_done boolean DEFAULT false,
    daily_points integer DEFAULT 0,
    custom_logs jsonb DEFAULT '{}'::jsonb,
    junk_food boolean DEFAULT false,
    processed_sugar boolean DEFAULT false,
    alcohol_excess boolean DEFAULT false,
    negative_points integer DEFAULT 0,
    CONSTRAINT negative_points_check CHECK (((negative_points IS NULL) OR (negative_points <= 0))),
    CONSTRAINT reasonable_daily_points CHECK (((daily_points >= '-50'::integer) AND (daily_points <= 100)))
);


--
-- Name: event_squad_assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.event_squad_assignments (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    event_id uuid,
    group_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    date date NOT NULL,
    title text NOT NULL,
    description text,
    bonus_points integer DEFAULT 10,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    status text DEFAULT 'upcoming'::text,
    CONSTRAINT events_status_check CHECK ((status = ANY (ARRAY['upcoming'::text, 'completed'::text, 'cancelled'::text]))),
    CONSTRAINT positive_bonus_points CHECK ((bonus_points >= 0))
);


--
-- Name: goal_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goal_templates (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    description text,
    category text,
    points integer DEFAULT 5,
    is_global boolean DEFAULT true,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT goal_templates_category_check CHECK ((category = ANY (ARRAY['fitness'::text, 'nutrition'::text, 'wellness'::text, 'lifestyle'::text, 'custom'::text])))
);


--
-- Name: group_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_members (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    group_id uuid NOT NULL,
    user_id uuid NOT NULL,
    status text DEFAULT 'pending'::text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT group_members_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'approved'::text])))
);


--
-- Name: groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.groups (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    admin_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    start_date date DEFAULT '2025-01-01'::date,
    end_date date,
    CONSTRAINT valid_date_range CHECK (((end_date IS NULL) OR (start_date IS NULL) OR (end_date > start_date)))
);


--
-- Name: progress_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.progress_logs (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid,
    logged_at timestamp with time zone DEFAULT now(),
    weight_kg numeric NOT NULL,
    bmi numeric,
    body_fat_percentage numeric,
    muscle_mass_percentage numeric,
    notes text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: latest_progress; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.latest_progress AS
 SELECT DISTINCT ON (user_id) user_id,
    logged_at,
    weight_kg,
    bmi,
    body_fat_percentage,
    muscle_mass_percentage
   FROM public.progress_logs
  ORDER BY user_id, logged_at DESC;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profiles (
    id uuid NOT NULL,
    full_name text,
    role text DEFAULT 'participant'::text,
    total_points integer DEFAULT 0,
    status text DEFAULT 'pending'::text,
    challenge_start_date date DEFAULT '2025-01-01'::date,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    display_name text,
    last_name text,
    height numeric,
    first_name text,
    current_checkin_streak integer DEFAULT 0,
    current_workout_streak integer DEFAULT 0,
    current_clean_streak integer DEFAULT 0,
    longest_checkin_streak integer DEFAULT 0,
    longest_workout_streak integer DEFAULT 0,
    longest_clean_streak integer DEFAULT 0,
    streak_bonus_points integer DEFAULT 0,
    last_streak_calculation timestamp with time zone,
    CONSTRAINT positive_streaks CHECK (((current_checkin_streak >= 0) AND (current_workout_streak >= 0) AND (current_clean_streak >= 0) AND (longest_checkin_streak >= 0) AND (longest_workout_streak >= 0) AND (longest_clean_streak >= 0) AND (streak_bonus_points >= 0))),
    CONSTRAINT positive_total_points CHECK ((total_points >= 0)),
    CONSTRAINT profiles_role_check CHECK ((role = ANY (ARRAY['participant'::text, 'admin'::text]))),
    CONSTRAINT profiles_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'approved'::text])))
);


--
-- Name: COLUMN profiles.height; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.profiles.height IS 'Height in centimeters';


--
-- Name: scheduled_workout_squads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scheduled_workout_squads (
    workout_id uuid NOT NULL,
    group_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: scheduled_workouts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scheduled_workouts (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    template_id uuid,
    date date NOT NULL,
    customized boolean DEFAULT false,
    custom_exercises jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: squad_checkin_activities; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.squad_checkin_activities (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    squad_id uuid,
    activity_name text NOT NULL,
    activity_type text,
    activity_key text NOT NULL,
    points integer DEFAULT 10 NOT NULL,
    enabled boolean DEFAULT true,
    display_order integer NOT NULL,
    icon text DEFAULT 'CheckCircle'::text,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT reasonable_activity_points CHECK (((points >= 0) AND (points <= 50))),
    CONSTRAINT squad_checkin_activities_activity_type_check CHECK ((activity_type = ANY (ARRAY['wod'::text, 'core_habit'::text, 'custom'::text])))
);


--
-- Name: streak_bonus_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.streak_bonus_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    milestone_id uuid NOT NULL,
    streak_type text NOT NULL,
    days_achieved integer NOT NULL,
    bonus_points integer NOT NULL,
    awarded_at timestamp with time zone DEFAULT now()
);


--
-- Name: streak_milestones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.streak_milestones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    streak_type text NOT NULL,
    days_required integer NOT NULL,
    bonus_points integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT positive_milestone_values CHECK (((days_required > 0) AND (bonus_points > 0)))
);


--
-- Name: user_goal_assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_goal_assignments (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid,
    goal_template_id uuid,
    slot integer,
    assigned_by uuid,
    assigned_at timestamp with time zone DEFAULT now(),
    CONSTRAINT user_goal_assignments_slot_check CHECK ((slot = ANY (ARRAY[1, 2])))
);


--
-- Name: user_goals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_goals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    goal_name text NOT NULL,
    points integer DEFAULT 5,
    active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    expires_at date DEFAULT (CURRENT_DATE + '14 days'::interval)
);


--
-- Name: workout_exercises; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workout_exercises (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    template_id uuid,
    order_index integer NOT NULL,
    exercise_name text NOT NULL,
    sets integer,
    reps integer,
    duration_seconds integer,
    rest_seconds integer DEFAULT 60,
    equipment text,
    video_url text,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT check_reps_or_duration CHECK ((((reps IS NOT NULL) AND (duration_seconds IS NULL)) OR ((reps IS NULL) AND (duration_seconds IS NOT NULL)) OR ((reps IS NULL) AND (duration_seconds IS NULL))))
);


--
-- Name: workout_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workout_templates (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    description text,
    type text,
    tags text[] DEFAULT '{}'::text[],
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT workout_templates_type_check CHECK ((type = ANY (ARRAY['weekday'::text, 'weekend'::text, 'event'::text])))
);


--
-- Name: admin_weekly_points admin_weekly_points_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_weekly_points
    ADD CONSTRAINT admin_weekly_points_pkey PRIMARY KEY (id);


--
-- Name: admin_weekly_points admin_weekly_points_user_id_week_start_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_weekly_points
    ADD CONSTRAINT admin_weekly_points_user_id_week_start_key UNIQUE (user_id, week_start);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: biometric_logs biometric_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.biometric_logs
    ADD CONSTRAINT biometric_logs_pkey PRIMARY KEY (id);


--
-- Name: daily_logs daily_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_logs
    ADD CONSTRAINT daily_logs_pkey PRIMARY KEY (id);


--
-- Name: daily_logs daily_logs_user_id_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_logs
    ADD CONSTRAINT daily_logs_user_id_date_key UNIQUE (user_id, date);


--
-- Name: event_squad_assignments event_squad_assignments_event_id_group_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.event_squad_assignments
    ADD CONSTRAINT event_squad_assignments_event_id_group_id_key UNIQUE (event_id, group_id);


--
-- Name: event_squad_assignments event_squad_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.event_squad_assignments
    ADD CONSTRAINT event_squad_assignments_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: goal_templates goal_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goal_templates
    ADD CONSTRAINT goal_templates_pkey PRIMARY KEY (id);


--
-- Name: group_members group_members_group_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_user_id_key UNIQUE (group_id, user_id);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (id);


--
-- Name: groups groups_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_code_key UNIQUE (code);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: progress_logs progress_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progress_logs
    ADD CONSTRAINT progress_logs_pkey PRIMARY KEY (id);


--
-- Name: scheduled_workout_squads scheduled_workout_squads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scheduled_workout_squads
    ADD CONSTRAINT scheduled_workout_squads_pkey PRIMARY KEY (workout_id, group_id);


--
-- Name: scheduled_workouts scheduled_workouts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scheduled_workouts
    ADD CONSTRAINT scheduled_workouts_pkey PRIMARY KEY (id);


--
-- Name: squad_checkin_activities squad_checkin_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.squad_checkin_activities
    ADD CONSTRAINT squad_checkin_activities_pkey PRIMARY KEY (id);


--
-- Name: streak_bonus_log streak_bonus_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streak_bonus_log
    ADD CONSTRAINT streak_bonus_log_pkey PRIMARY KEY (id);


--
-- Name: streak_bonus_log streak_bonus_log_user_id_milestone_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streak_bonus_log
    ADD CONSTRAINT streak_bonus_log_user_id_milestone_id_key UNIQUE (user_id, milestone_id);


--
-- Name: streak_milestones streak_milestones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streak_milestones
    ADD CONSTRAINT streak_milestones_pkey PRIMARY KEY (id);


--
-- Name: streak_milestones streak_milestones_streak_type_days_required_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streak_milestones
    ADD CONSTRAINT streak_milestones_streak_type_days_required_key UNIQUE (streak_type, days_required);


--
-- Name: user_goal_assignments user_goal_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goal_assignments
    ADD CONSTRAINT user_goal_assignments_pkey PRIMARY KEY (id);


--
-- Name: user_goal_assignments user_goal_assignments_user_id_slot_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goal_assignments
    ADD CONSTRAINT user_goal_assignments_user_id_slot_key UNIQUE (user_id, slot);


--
-- Name: user_goals user_goals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goals
    ADD CONSTRAINT user_goals_pkey PRIMARY KEY (id);


--
-- Name: user_goals user_goals_user_id_goal_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goals
    ADD CONSTRAINT user_goals_user_id_goal_name_key UNIQUE (user_id, goal_name);


--
-- Name: workout_exercises workout_exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_exercises
    ADD CONSTRAINT workout_exercises_pkey PRIMARY KEY (id);


--
-- Name: workout_templates workout_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_templates
    ADD CONSTRAINT workout_templates_pkey PRIMARY KEY (id);


--
-- Name: idx_admin_weekly_user_week; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_admin_weekly_user_week ON public.admin_weekly_points USING btree (user_id, week_start);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_resource; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_resource ON public.audit_logs USING btree (resource_type, resource_id);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_biometric_logs_measured_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_biometric_logs_measured_at ON public.biometric_logs USING btree (measured_at DESC);


--
-- Name: idx_biometric_logs_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_biometric_logs_user ON public.biometric_logs USING btree (user_id, created_at DESC);


--
-- Name: idx_biometric_logs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_biometric_logs_user_id ON public.biometric_logs USING btree (user_id);


--
-- Name: idx_daily_logs_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_daily_logs_date ON public.daily_logs USING btree (date DESC);


--
-- Name: idx_daily_logs_negative; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_daily_logs_negative ON public.daily_logs USING btree (user_id, date) WHERE (negative_points < 0);


--
-- Name: idx_daily_logs_user_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_daily_logs_user_date ON public.daily_logs USING btree (user_id, date DESC);


--
-- Name: idx_event_squad_assignments_event; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_event_squad_assignments_event ON public.event_squad_assignments USING btree (event_id);


--
-- Name: idx_event_squad_assignments_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_event_squad_assignments_group ON public.event_squad_assignments USING btree (group_id);


--
-- Name: idx_group_members_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_members_group ON public.group_members USING btree (group_id, status);


--
-- Name: idx_group_members_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_members_user ON public.group_members USING btree (user_id, status);


--
-- Name: idx_groups_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_groups_code ON public.groups USING btree (code);


--
-- Name: idx_progress_logs_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_progress_logs_user ON public.progress_logs USING btree (user_id, logged_at DESC);


--
-- Name: idx_scheduled_workout_squads_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scheduled_workout_squads_group ON public.scheduled_workout_squads USING btree (group_id);


--
-- Name: idx_scheduled_workout_squads_workout; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scheduled_workout_squads_workout ON public.scheduled_workout_squads USING btree (workout_id);


--
-- Name: idx_scheduled_workouts_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scheduled_workouts_date ON public.scheduled_workouts USING btree (date);


--
-- Name: idx_scheduled_workouts_template; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scheduled_workouts_template ON public.scheduled_workouts USING btree (template_id);


--
-- Name: idx_squad_activities_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_squad_activities_order ON public.squad_checkin_activities USING btree (squad_id, display_order);


--
-- Name: idx_squad_activity_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_squad_activity_key ON public.squad_checkin_activities USING btree (squad_id, activity_key);


--
-- Name: idx_streak_bonus_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_streak_bonus_user ON public.streak_bonus_log USING btree (user_id, awarded_at DESC);


--
-- Name: idx_user_goals; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_goals ON public.user_goal_assignments USING btree (user_id);


--
-- Name: idx_workout_exercises_template; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_workout_exercises_template ON public.workout_exercises USING btree (template_id, order_index);


--
-- Name: idx_workout_templates_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_workout_templates_created_at ON public.workout_templates USING btree (created_at DESC);


--
-- Name: idx_workout_templates_tags; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_workout_templates_tags ON public.workout_templates USING gin (tags);


--
-- Name: idx_workout_templates_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_workout_templates_type ON public.workout_templates USING btree (type);


--
-- Name: profiles trg_prevent_role_change; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_prevent_role_change BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.prevent_role_change();


--
-- Name: admin_weekly_points trg_update_total_on_admin_award; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_update_total_on_admin_award AFTER INSERT OR UPDATE ON public.admin_weekly_points FOR EACH ROW EXECUTE FUNCTION public.update_total_points_on_admin_award();


--
-- Name: daily_logs trg_update_total_points_daily_log; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_update_total_points_daily_log AFTER INSERT OR DELETE OR UPDATE ON public.daily_logs FOR EACH ROW EXECUTE FUNCTION public.update_total_points_from_daily_log();


--
-- Name: profiles trg_update_total_points_streak; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_update_total_points_streak BEFORE UPDATE ON public.profiles FOR EACH ROW WHEN ((old.streak_bonus_points IS DISTINCT FROM new.streak_bonus_points)) EXECUTE FUNCTION public.update_total_points_from_streak();


--
-- Name: progress_logs trigger_auto_calculate_bmi_progress; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_auto_calculate_bmi_progress BEFORE INSERT OR UPDATE OF weight_kg ON public.progress_logs FOR EACH ROW EXECUTE FUNCTION public.auto_calculate_bmi_progress();


--
-- Name: groups trigger_auto_create_squad_activities; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_auto_create_squad_activities AFTER INSERT ON public.groups FOR EACH ROW EXECUTE FUNCTION public.auto_create_squad_activities();


--
-- Name: events update_events_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_events_updated_at BEFORE UPDATE ON public.events FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: goal_templates update_goal_templates_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_goal_templates_updated_at BEFORE UPDATE ON public.goal_templates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: scheduled_workouts update_scheduled_workouts_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_scheduled_workouts_updated_at BEFORE UPDATE ON public.scheduled_workouts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: squad_checkin_activities update_squad_activities_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_squad_activities_updated_at BEFORE UPDATE ON public.squad_checkin_activities FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: workout_templates update_workout_templates_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_workout_templates_updated_at BEFORE UPDATE ON public.workout_templates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: admin_weekly_points admin_weekly_points_awarded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_weekly_points
    ADD CONSTRAINT admin_weekly_points_awarded_by_fkey FOREIGN KEY (awarded_by) REFERENCES public.profiles(id);


--
-- Name: admin_weekly_points admin_weekly_points_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_weekly_points
    ADD CONSTRAINT admin_weekly_points_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: biometric_logs biometric_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.biometric_logs
    ADD CONSTRAINT biometric_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: daily_logs daily_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_logs
    ADD CONSTRAINT daily_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id);


--
-- Name: event_squad_assignments event_squad_assignments_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.event_squad_assignments
    ADD CONSTRAINT event_squad_assignments_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: event_squad_assignments event_squad_assignments_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.event_squad_assignments
    ADD CONSTRAINT event_squad_assignments_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: goal_templates goal_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goal_templates
    ADD CONSTRAINT goal_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.profiles(id);


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id);


--
-- Name: group_members group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id);


--
-- Name: groups groups_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.profiles(id);


--
-- Name: profiles profiles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id);


--
-- Name: progress_logs progress_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.progress_logs
    ADD CONSTRAINT progress_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: scheduled_workout_squads scheduled_workout_squads_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scheduled_workout_squads
    ADD CONSTRAINT scheduled_workout_squads_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: scheduled_workout_squads scheduled_workout_squads_workout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scheduled_workout_squads
    ADD CONSTRAINT scheduled_workout_squads_workout_id_fkey FOREIGN KEY (workout_id) REFERENCES public.scheduled_workouts(id) ON DELETE CASCADE;


--
-- Name: scheduled_workouts scheduled_workouts_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scheduled_workouts
    ADD CONSTRAINT scheduled_workouts_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.workout_templates(id) ON DELETE SET NULL;


--
-- Name: squad_checkin_activities squad_checkin_activities_squad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.squad_checkin_activities
    ADD CONSTRAINT squad_checkin_activities_squad_id_fkey FOREIGN KEY (squad_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: streak_bonus_log streak_bonus_log_milestone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streak_bonus_log
    ADD CONSTRAINT streak_bonus_log_milestone_id_fkey FOREIGN KEY (milestone_id) REFERENCES public.streak_milestones(id);


--
-- Name: streak_bonus_log streak_bonus_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streak_bonus_log
    ADD CONSTRAINT streak_bonus_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: user_goal_assignments user_goal_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goal_assignments
    ADD CONSTRAINT user_goal_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.profiles(id);


--
-- Name: user_goal_assignments user_goal_assignments_goal_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goal_assignments
    ADD CONSTRAINT user_goal_assignments_goal_template_id_fkey FOREIGN KEY (goal_template_id) REFERENCES public.goal_templates(id) ON DELETE CASCADE;


--
-- Name: user_goal_assignments user_goal_assignments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goal_assignments
    ADD CONSTRAINT user_goal_assignments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: user_goals user_goals_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_goals
    ADD CONSTRAINT user_goals_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id);


--
-- Name: workout_exercises workout_exercises_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_exercises
    ADD CONSTRAINT workout_exercises_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.workout_templates(id) ON DELETE CASCADE;


--
-- Name: workout_templates workout_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_templates
    ADD CONSTRAINT workout_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: user_goal_assignments Admins can delete goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can delete goal assignments" ON public.user_goal_assignments FOR DELETE USING (public.is_admin());


--
-- Name: groups Admins can delete groups; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can delete groups" ON public.groups FOR DELETE USING (public.is_admin());


--
-- Name: group_members Admins can delete memberships; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can delete memberships" ON public.group_members FOR DELETE USING (public.is_admin());


--
-- Name: workout_exercises Admins can do everything with exercises; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can do everything with exercises" ON public.workout_exercises TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: scheduled_workouts Admins can do everything with scheduled workouts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can do everything with scheduled workouts" ON public.scheduled_workouts TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: scheduled_workout_squads Admins can do everything with workout squad assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can do everything with workout squad assignments" ON public.scheduled_workout_squads TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: workout_templates Admins can do everything with workout templates; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can do everything with workout templates" ON public.workout_templates TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: user_goal_assignments Admins can insert goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can insert goal assignments" ON public.user_goal_assignments FOR INSERT WITH CHECK (public.is_admin());


--
-- Name: groups Admins can insert groups; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can insert groups" ON public.groups FOR INSERT WITH CHECK (public.is_admin());


--
-- Name: group_members Admins can insert memberships; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can insert memberships" ON public.group_members FOR INSERT WITH CHECK (public.is_admin());


--
-- Name: squad_checkin_activities Admins can manage activities; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage activities" ON public.squad_checkin_activities USING (public.is_admin());


--
-- Name: user_goal_assignments Admins can manage all goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage all goal assignments" ON public.user_goal_assignments TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: group_members Admins can manage all memberships; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage all memberships" ON public.group_members USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: event_squad_assignments Admins can manage event squad assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage event squad assignments" ON public.event_squad_assignments TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: events Admins can manage events; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage events" ON public.events USING (public.is_admin());


--
-- Name: goal_templates Admins can manage goal templates; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage goal templates" ON public.goal_templates TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: squad_checkin_activities Admins can manage squad activities; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage squad activities" ON public.squad_checkin_activities TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: user_goal_assignments Admins can manage user goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage user goal assignments" ON public.user_goal_assignments TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: admin_weekly_points Admins can manage weekly points; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can manage weekly points" ON public.admin_weekly_points USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: biometric_logs Admins can read all biometrics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can read all biometrics" ON public.biometric_logs FOR SELECT USING (public.is_admin());


--
-- Name: daily_logs Admins can read all daily logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can read all daily logs" ON public.daily_logs FOR SELECT USING (public.is_admin());


--
-- Name: user_goal_assignments Admins can select goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can select goal assignments" ON public.user_goal_assignments FOR SELECT USING (public.is_admin());


--
-- Name: user_goal_assignments Admins can update goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can update goal assignments" ON public.user_goal_assignments FOR UPDATE USING (public.is_admin()) WITH CHECK (public.is_admin());


--
-- Name: groups Admins can update groups; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can update groups" ON public.groups FOR UPDATE USING (public.is_admin());


--
-- Name: group_members Admins can update memberships; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can update memberships" ON public.group_members FOR UPDATE USING (public.is_admin());


--
-- Name: profiles Admins can update profiles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can update profiles" ON public.profiles FOR UPDATE USING (public.is_admin());


--
-- Name: biometric_logs Admins can view all biometric logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can view all biometric logs" ON public.biometric_logs FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: daily_logs Admins can view all logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can view all logs" ON public.daily_logs FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: profiles Admins can view all profiles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can view all profiles" ON public.profiles USING (public.is_admin());


--
-- Name: progress_logs Admins can view all progress logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Admins can view all progress logs" ON public.progress_logs FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: squad_checkin_activities Authenticated can read activities; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated can read activities" ON public.squad_checkin_activities FOR SELECT TO authenticated USING (true);


--
-- Name: events Authenticated can read events; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated can read events" ON public.events FOR SELECT TO authenticated USING (true);


--
-- Name: group_members Authenticated can read memberships; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated can read memberships" ON public.group_members FOR SELECT TO authenticated USING (true);


--
-- Name: profiles Authenticated can read profiles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated can read profiles" ON public.profiles FOR SELECT TO authenticated USING (true);


--
-- Name: audit_logs Authenticated users can insert audit logs with rate limit; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated users can insert audit logs with rate limit" ON public.audit_logs FOR INSERT WITH CHECK (((auth.uid() IS NOT NULL) AND (( SELECT count(*) AS count
   FROM public.audit_logs audit_logs_1
  WHERE ((audit_logs_1.user_id = auth.uid()) AND (audit_logs_1.created_at > (now() - '00:01:00'::interval)))) < 60)));


--
-- Name: streak_milestones Authenticated users can read milestones; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated users can read milestones" ON public.streak_milestones FOR SELECT TO authenticated USING (true);


--
-- Name: goal_templates Everyone can view global goal templates; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Everyone can view global goal templates" ON public.goal_templates FOR SELECT TO authenticated USING ((is_global = true));


--
-- Name: groups Everyone can view groups; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Everyone can view groups" ON public.groups FOR SELECT TO authenticated USING (true);


--
-- Name: squad_checkin_activities Members can view their squad activities; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Members can view their squad activities" ON public.squad_checkin_activities FOR SELECT TO authenticated USING (((squad_id IS NULL) OR (EXISTS ( SELECT 1
   FROM public.group_members
  WHERE ((group_members.group_id = squad_checkin_activities.squad_id) AND (group_members.user_id = auth.uid()) AND (group_members.status = 'approved'::text))))));


--
-- Name: event_squad_assignments Members can view their squad event assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Members can view their squad event assignments" ON public.event_squad_assignments FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.group_members
  WHERE ((group_members.group_id = event_squad_assignments.group_id) AND (group_members.user_id = auth.uid()) AND (group_members.status = 'approved'::text)))));


--
-- Name: audit_logs Only admins can view audit logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Only admins can view audit logs" ON public.audit_logs FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));


--
-- Name: workout_exercises Participants can view exercises; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Participants can view exercises" ON public.workout_exercises FOR SELECT TO authenticated USING (true);


--
-- Name: scheduled_workouts Participants can view their assigned workouts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Participants can view their assigned workouts" ON public.scheduled_workouts FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM (public.scheduled_workout_squads sws
     JOIN public.group_members gm ON ((gm.group_id = sws.group_id)))
  WHERE ((sws.workout_id = scheduled_workouts.id) AND (gm.user_id = auth.uid()) AND (gm.status = 'approved'::text)))));


--
-- Name: scheduled_workout_squads Participants can view their squad assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Participants can view their squad assignments" ON public.scheduled_workout_squads FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.group_members
  WHERE ((group_members.group_id = scheduled_workout_squads.group_id) AND (group_members.user_id = auth.uid()) AND (group_members.status = 'approved'::text)))));


--
-- Name: workout_templates Participants can view workout templates; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Participants can view workout templates" ON public.workout_templates FOR SELECT TO authenticated USING (true);


--
-- Name: groups Public can read groups; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Public can read groups" ON public.groups FOR SELECT USING (true);


--
-- Name: group_members Users can create own group membership; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can create own group membership" ON public.group_members FOR INSERT TO authenticated WITH CHECK ((auth.uid() = user_id));


--
-- Name: profiles Users can create own profile during signup; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can create own profile during signup" ON public.profiles FOR INSERT TO authenticated WITH CHECK ((auth.uid() = id));


--
-- Name: progress_logs Users can delete own progress logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can delete own progress logs" ON public.progress_logs FOR DELETE TO authenticated USING ((user_id = auth.uid()));


--
-- Name: biometric_logs Users can insert own biometric logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can insert own biometric logs" ON public.biometric_logs FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: biometric_logs Users can insert own biometrics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can insert own biometrics" ON public.biometric_logs FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: daily_logs Users can insert own daily logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can insert own daily logs" ON public.daily_logs FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: user_goal_assignments Users can insert own goals; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can insert own goals" ON public.user_goal_assignments FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: progress_logs Users can insert own progress logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can insert own progress logs" ON public.progress_logs FOR INSERT TO authenticated WITH CHECK ((user_id = auth.uid()));


--
-- Name: daily_logs Users can manage their own logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own logs" ON public.daily_logs USING ((auth.uid() = user_id));


--
-- Name: biometric_logs Users can read own biometrics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own biometrics" ON public.biometric_logs FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: daily_logs Users can read own daily logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own daily logs" ON public.daily_logs FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: user_goal_assignments Users can read own goals; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own goals" ON public.user_goal_assignments FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: group_members Users can read own membership; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own membership" ON public.group_members FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: profiles Users can read own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own profile" ON public.profiles FOR SELECT USING ((auth.uid() = id));


--
-- Name: streak_bonus_log Users can read own streak bonuses; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own streak bonuses" ON public.streak_bonus_log FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: admin_weekly_points Users can read own weekly points; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can read own weekly points" ON public.admin_weekly_points FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: biometric_logs Users can update own biometrics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update own biometrics" ON public.biometric_logs FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: daily_logs Users can update own daily logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update own daily logs" ON public.daily_logs FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: user_goal_assignments Users can update own goals; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update own goals" ON public.user_goal_assignments FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: profiles Users can update own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update own profile" ON public.profiles FOR UPDATE USING ((auth.uid() = id)) WITH CHECK ((auth.uid() = id));


--
-- Name: progress_logs Users can update own progress logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update own progress logs" ON public.progress_logs FOR UPDATE TO authenticated USING ((user_id = auth.uid()));


--
-- Name: biometric_logs Users can view own biometric logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view own biometric logs" ON public.biometric_logs FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: profiles Users can view own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view own profile" ON public.profiles FOR SELECT TO authenticated USING ((auth.uid() = id));


--
-- Name: progress_logs Users can view own progress logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view own progress logs" ON public.progress_logs FOR SELECT TO authenticated USING ((user_id = auth.uid()));


--
-- Name: user_goal_assignments Users can view their own goal assignments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view their own goal assignments" ON public.user_goal_assignments FOR SELECT TO authenticated USING ((user_id = auth.uid()));


--
-- Name: group_members Users can view their own memberships; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view their own memberships" ON public.group_members FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: profiles Users can view their own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view their own profile" ON public.profiles FOR SELECT USING ((auth.uid() = id));


--
-- Name: admin_weekly_points; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.admin_weekly_points ENABLE ROW LEVEL SECURITY;

--
-- Name: audit_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: biometric_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.biometric_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: daily_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.daily_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: event_squad_assignments; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.event_squad_assignments ENABLE ROW LEVEL SECURITY;

--
-- Name: events; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.events ENABLE ROW LEVEL SECURITY;

--
-- Name: goal_templates; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.goal_templates ENABLE ROW LEVEL SECURITY;

--
-- Name: group_members; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.group_members ENABLE ROW LEVEL SECURITY;

--
-- Name: groups; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.groups ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: progress_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.progress_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: scheduled_workout_squads; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.scheduled_workout_squads ENABLE ROW LEVEL SECURITY;

--
-- Name: scheduled_workouts; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.scheduled_workouts ENABLE ROW LEVEL SECURITY;

--
-- Name: squad_checkin_activities; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.squad_checkin_activities ENABLE ROW LEVEL SECURITY;

--
-- Name: streak_bonus_log; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.streak_bonus_log ENABLE ROW LEVEL SECURITY;

--
-- Name: streak_milestones; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.streak_milestones ENABLE ROW LEVEL SECURITY;

--
-- Name: user_goal_assignments; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.user_goal_assignments ENABLE ROW LEVEL SECURITY;

--
-- Name: workout_exercises; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.workout_exercises ENABLE ROW LEVEL SECURITY;

--
-- Name: workout_templates; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.workout_templates ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict 6aFO7qm8U5lmfKPYnSlTKkkQjwBHXZ1DwGt5vZnlXAnPoKBYLg1NduV7Jr8VMzT

